.u-section-1 .u-sheet-1 {
  min-height: 1182px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  margin: 52px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1084px;
  margin: 59px auto 39px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 21px 21px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 996px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 11px;
}

.u-section-1 .u-image-1 {
  width: 40px;
  height: 40px;
  margin: 23px auto 0 326px;
}

.u-section-1 .u-image-2 {
  width: 33px;
  height: 33px;
  margin: -36px auto 0 256px;
}

.u-section-1 .u-text-2 {
  font-family: "PT Mono";
  font-size: 1.25rem;
  background-image: none;
  margin: -28px 249px 0 403px;
}

.u-section-1 .u-text-3 {
  font-family: "PT Mono";
  font-size: 0.875rem;
  font-style: normal;
  background-image: none;
  line-height: 2.2;
  margin: 19px -119px 0 414px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 11px;
}

.u-section-1 .u-image-3 {
  width: 40px;
  height: 40px;
  margin: 23px auto 0 326px;
}

.u-section-1 .u-image-4 {
  width: 33px;
  height: 33px;
  margin: -36px auto 0 256px;
}

.u-section-1 .u-text-4 {
  font-family: "PT Mono";
  font-size: 1.25rem;
  background-image: none;
  margin: -28px 249px 0 403px;
}

.u-section-1 .u-text-5 {
  font-family: "PT Mono";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.2;
  margin: 19px -119px 0 414px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 11px;
}

.u-section-1 .u-image-5 {
  width: 40px;
  height: 40px;
  margin: 23px auto 0 326px;
}

.u-section-1 .u-image-6 {
  width: 33px;
  height: 33px;
  margin: -36px auto 0 256px;
}

.u-section-1 .u-text-6 {
  font-family: "PT Mono";
  font-size: 1.25rem;
  background-image: none;
  margin: -28px 249px 0 403px;
}

.u-section-1 .u-text-7 {
  font-family: "PT Mono";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.2;
  margin: 19px -119px 0 414px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 11px;
}

.u-section-1 .u-image-7 {
  width: 40px;
  height: 40px;
  margin: 23px auto 0 326px;
}

.u-section-1 .u-image-8 {
  width: 33px;
  height: 33px;
  margin: -36px auto 0 256px;
}

.u-section-1 .u-text-8 {
  font-family: "PT Mono";
  font-size: 1.25rem;
  background-image: none;
  margin: -28px 249px 0 403px;
}

.u-section-1 .u-text-9 {
  font-family: "PT Mono";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.2;
  margin: 19px -119px 0 414px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 310px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 342px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 310px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 342px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 310px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 342px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 310px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 342px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 237px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 237px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 237px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 237px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 178px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 178px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 178px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 178px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -62px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 195px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -161px;
    margin-right: 112px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -16px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -62px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -5px;
    margin-right: 112px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -99px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -11px;
    margin-right: 112px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 300px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 112px;
  }
}